@font-face {
    font-family: 'Science Gothic';
    src: url('./font/ScienceGothic-VariableFont_CTRS,slnt,wdth,wght.ttf')
        format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Science Gothic', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

.game {
    background-color: #222831;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.game div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #000;
}

.cell {
    background-color: '#0D1164';
    font-size: 40px;
    border-radius: 10px;
}

.score-board {
    background-color: #222831;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: auto;
    border-radius: 10px;
    margin-top: 50px;
}

.score-board div {
    background-color: #222831;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.score-board .score-block {
    background-color: red;
}

.score-board .new-game {
    background-color: #00adb5;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: 'Science Gothic', sans-serif;
}

.popup-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #222831;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 300px;
}

.popup-content h2 {
    color: #ffd717;
    margin: 0;
    font-size: 24px;
}

.popup-content .new-game {
    background-color: #00adb5;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00adb5;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.popup-content span {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: #ffffff;
}
