body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game {
    background-color: #222831;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 35px;
}

.game div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #000;
}

.cell {
    background-color: '#0D1164';
    font-size: 20px;
    border-radius: 10px;
}

.score-board {
    height: auto;
    position: absolute;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 220px;
    top: 10px;
}

.score-board div {
    background-color: #222831;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.score-board div:first-child {
    margin-right: 20px;
}

.score-board div span {
    font-size: 24px;
    font-weight: bold;
}
